<ion-header>
  <ion-toolbar>
    <ion-title>
      Questão 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>Qual é a função da placa de vídeo?</h2>
  </div>

  <div class="buttons-container">
    <ion-button class="custom-button">
      Armazenar dados
    </ion-button>

    <ion-button class="custom-button">
      Executar programas
    </ion-button>

    <ion-button class="custom-button" routerLink="/question3-a">
      Exibir imagens na tela
    </ion-button>

    <ion-button class="custom-button">
      Controlar a entrada e saída de dados
    </ion-button>
  </div>
</ion-content>
