<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>{{ curQuestionB.title }}</h2>
  </div>

  <div class="buttons-container">
    <ion-button (click)="doAnswerB(answer)" class="custom-button"
      *ngFor="let answer of curQuestionB.answers; let n = index;">
      <div>
        <tr>
          <td>
            <span class="number">{{ n + 1 }}</span>
          </td>
          <td>
            <span class="span-text">{{ answer.description }}</span>
          </td>
        </tr>
      </div>
    </ion-button>
  </div>

</ion-content>
