ion-header {
  --background: #000;
  color: #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ion-title {
  font-size: 50px;
  line-height: 62px;
  text-align: center;
}

ion-toolbar {
  --background: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #FFFFFF;
  --border-width: 0px;
}

ion-button.custom-button {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: 50px;
  border: 7px solid #FFFFFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: auto;
  text-align: center;
  --background: #000;
  color: #FFFFFF;
  white-space: normal;
  word-break: break-word;
  border-radius: 10px;
}

ion-content {
  --background: #000;
}

ion-card {
  --background: #1c1c1c;
}

ion-item {
  --background: #1c1c1c;
}

.profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-picture figure {
  width: 150px;
  height: 150px;
  margin: 0;
}

.profile-picture ion-button {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  width: 150px;
  height: 150px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.email-label {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
}
