<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil do Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="profile-picture">
        <ion-button expand="block" class="profile-button" routerLink="/icone">
          <figure>
            <img src="assets/icon/icone/IconePadrão.png" alt="Foto de Perfil">
          </figure>
        </ion-button>
      </div>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Nível</ion-card-subtitle>
      <ion-label class="email-label">{{ emailUsuarioLogado }}</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>XP: {{ xpAcumulado }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item>
      <ion-button expand="block" color="danger" class="custom-button" (click)="logout()">Sair</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
