<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="window.history.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Icones
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="modificar">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/iconeA.png" alt="primeiro icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (2).png" alt="segundo icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (3).png" alt="terceiro icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (4).png" alt="quarto icone">
            </figure>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (5).png" alt="quinto icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (6).png" alt="sexto icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (7).png" alt="setimo icone">
            </figure>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-card>
            <figure>
              <img src="assets/icon/icone/icone (8).png" alt="oitavo icone">
            </figure>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
