
.icone2{
  background-image: url('/src/assets/icon/icone/icone\ \(2\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone3{
  background-image: url('/src/assets/icon/icone/icone\ \(3\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone4{
  background-image: url('/src/assets/icon/icone/icone\ \(4\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone5{
  background-image: url('/src/assets/icon/icone/icone\ \(5\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone6{
  background-image: url('/src/assets/icon/icone/icone\ \(6\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone7{
  background-image: url('/src/assets/icon/icone/icone\ \(7\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}

.icone8{
  background-image: url('/src/assets/icon/icone/icone\ \(8\).png');
  background-repeat: no-repeat;
  min-height: 150px;
  min-width: 150px;
  background-position: center;
  background-size: contain;
}