<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="window.history.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Regras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Como jogar</h2>
    <p>O jogo é individual e consiste em responder corretamente a 4 perguntas sobre conceitos básicos da computação.</p>
    <p>Cada pergunta vale 25 moedas e um determinado número de XP. Ao responder corretamente todas as perguntas, você ganha 100 moedas e um determinado números de XP.</p>
    <p>Se você errar uma pergunta, perderá 25 moedas e um pouco de XP.</p>
    <p>As perguntas são relacionadas a conceitos básicos da computação, incluindo hardware, software.</p>
    <p>Para desbloquear os próximos módulos do jogo, você precisa acumular um número mínimo de moedas.</p>
    <p>Além disso, você receberá XP ao acertar perguntas e poderá subir de nível para receber prêmios.</p>
  </div>
</ion-content>
