<ion-header>
  <ion-toolbar>
    <ion-title>
      Questão 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>Qual é a função da memória RAM?</h2>
  </div>

  <div class="buttons-container">
    <ion-button class="custom-button">
      Armazenar arquivos permanentemente
    </ion-button>

    <ion-button class="custom-button">
      Controlar o acesso à Internet  O conjunto de componentes físicos de um sistema computacional
    </ion-button>

    <ion-button class="custom-button" routerLink="/resultado-a">
      Armazenar temporariamente dados e programas em uso
    </ion-button>

    <ion-button class="custom-button">
      Exibir imagens na tela
    </ion-button>
  </div>
</ion-content>
