<ion-header>
  <ion-toolbar>
    <ion-title>
      Resultado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Você acertou</h2>
        <h2>{{ correctAnswers }}/10</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="container">
          <ion-card-header>
            <ion-card-title>XP Obtido</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>421</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="container">
          <ion-card-header>
            <ion-card-title>Novo Avatar Desbloqueado</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="container">
          <ion-card-header>
            <ion-card-title>Moedas Obtidas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>100</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" class="custom-button" (click)="goHome()">Voltar ao início</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
