ion-header {
    --background: #000;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  ion-title {
    font-size: 50px;
    line-height: 62px;
    text-align: center;
  }

  ion-toolbar{
    --background: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    --border-width: 0px;
  }

  ion-button.custom-button {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 50px;
    border: 7px solid #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: auto;
    text-align: center;
    --background: #000;
    color: #FFFFFF;
    white-space: normal;
    word-break: break-word;
    border-radius: 10px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  ion-content {
    --background: #000;
  }
