<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="window.history.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150" />
      </ion-avatar>
      <ion-label>
        <h2>NightFury</h2>
        <p>500</p>
      </ion-label>
      <ion-badge slot="end">1º</ion-badge>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150" />
      </ion-avatar>
      <ion-label>
        <h2>IronClaw</h2>
        <p>400</p>
      </ion-label>
      <ion-badge slot="end">2º</ion-badge>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150" />
      </ion-avatar>
      <ion-label>
        <h2>ShadowWalker</h2>
        <p>300</p>
      </ion-label>
      <ion-badge slot="end">3º</ion-badge>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150" />
      </ion-avatar>
      <ion-label>
        <h2>ThunderBolt</h2>
        <p>250</p>
      </ion-label>
      <ion-badge slot="end">4º</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
