<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="window.history.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Software</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>
      Software é um conjunto de programas e instruções lógicas que controlam o funcionamento do hardware do computador e
      executam tarefas específicas. Em outras palavras, é a parte intangível do computador, que é responsável pela
      execução de tarefas e pela interação do usuário com o sistema.
    </p>
    <p>
      O software pode ser dividido em duas categorias principais: software de sistema e software de aplicativos. O
      software de sistema é o conjunto de programas que gerenciam os recursos do computador, como o sistema operacional,
      drivers de dispositivo, utilitários de sistema e programas de segurança. Já o software de aplicativos é um
      conjunto de programas que realiza tarefas específicas, como processamento de texto, edição de fotos, navegação na
      internet, jogos, entre outros.
    </p>
    <p>
      O software é criado por programadores utilizando linguagens de programação e ferramentas de desenvolvimento. Os
      programas são escritos em uma linguagem de programação, que é convertida em código de máquina pelo compilador ou
      interpretador. Esses programas podem ser executados em diferentes sistemas operacionais e dispositivos, como
      computadores, smartphones, tablets, entre outros.
    </p>
    <p>
      O software é fundamental para o funcionamento do computador e está em constante evolução. Novos programas e
      aplicativos são criados todos os dias para atender às necessidades dos usuários. Além disso, as atualizações de
      software são importantes para corrigir bugs, melhorar o desempenho e adicionar novos recursos.
    </p>
    <p>
      Em resumo, o software é a parte intangível do computador que controla o funcionamento do hardware e executa
      tarefas específicas. É essencial para o funcionamento do sistema e está em constante evolução para atender às
      necessidades dos usuários.
    </p>
    <br>
    <ion-button class="custom-button" routerLink="/question2-a">
      Continuar
    </ion-button>
  </div>
</ion-content>
