<ion-header>
  <ion-toolbar>
    <ion-title>
      CodiQuiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttons-container">
    <ion-button class="custom-button" routerLink="/assunto">
      Iniciar
    </ion-button>

    <ion-button class="custom-button" routerLink="/ranking">
      Desempenho
    </ion-button>

    <ion-button class="custom-button" routerLink="/perfil">
      Perfil
    </ion-button>

    <ion-button class="custom-button" routerLink="/regras">
      Regras
    </ion-button>
  </div>
</ion-content>
