<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
     Questionário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>{{ curQuestion.title }}</h2>
  </div>

  <div class="buttons-container">
    <ion-button (click)="doAnswer(answer)" class="custom-button" *ngFor="let answer of curQuestion.answers; let n = index;">
      <div>
        <table>
          <tr>
            <td>
              <span class="number">{{ n + 1 }}</span>
            </td>
            <td>
              <span class="span-text">{{ answer.description }}</span>
            </td>
          </tr>
        </table>
      </div>
    </ion-button>
  </div>

</ion-content>
