<ion-header>
  <ion-toolbar>
    <ion-title>
      Questão 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>O que é Hardware?</h2>
  </div>

  <div class="buttons-container">
    <ion-button class="custom-button">
      Um programa de computador
    </ion-button>

    <ion-button class="custom-button">
      O conjunto de componentes físicos de um sistema computacional
    </ion-button>

    <ion-button class="custom-button">
      O processo de transformação de dados em informações
    </ion-button>

    <ion-button class="custom-button">
      A parte virtual de um sistema computacional
    </ion-button>
  </div>
</ion-content>
