<ion-header>
  <ion-toolbar>
    <ion-title>
      Questão 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="question">
    <h2>O que é a placa-mãe?</h2>
  </div>

  <div class="buttons-container">
    <ion-button class="custom-button">
      Um tipo de monitor
    </ion-button>

    <ion-button class="custom-button">
      Um tipo de teclado
    </ion-button>

    <ion-button class="custom-button">
      O processo de transformação de dados em informações
    </ion-button>

    <ion-button class="custom-button" routerLink="/question4-a">
      Uma placa que conecta todos os componentes do computador
    </ion-button>
  </div>
</ion-content>
