<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button onclick="window.history.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hardware</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>O Hardware é o conjunto de componentes físicos e materiais que compõem um sistema computacional. É a parte tangível do computador, ou seja, tudo o que pode ser tocado e visto, como o gabinete, placa-mãe, processador, memória RAM, disco rígido, monitor, teclado, mouse, entre outros.</p>
    <p>Os componentes de hardware trabalham juntos para processar e armazenar dados, executar programas, exibir informações na tela e permitir a interação do usuário com o computador. Sem hardware, um computador não pode funcionar.</p>
    <p>Existem vários tipos de hardware, como hardware de entrada, que inclui dispositivos como teclado, mouse, scanner e câmera, hardware de saída, como monitor, impressora e alto-falantes, e hardware de armazenamento, como disco rígido, SSD e pen drive. Além disso, existem outros tipos de hardware, como a placa de vídeo, placa de som, placa de rede, fonte de alimentação, entre outros.</p>
    <p>O hardware é fundamental para o desempenho do computador e pode influenciar na velocidade, qualidade de imagem, som, dentre outros aspectos. É importante escolher componentes de qualidade para garantir a eficiência e durabilidade do sistema.</p>
    <p>Em resumo, o hardware é a parte física do computador que permite a execução de tarefas e programas. É uma parte essencial do sistema computacional e deve ser considerado cuidadosamente durante a escolha e manutenção de um computador.</p>
    <br>
    <ion-button class="custom-button" routerLink="/question1-a">
      Continuar
    </ion-button>
  </div>
</ion-content>
